* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "lora", serif;
}

.img_fundo {
    background-image: url('../img/Foto02.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

header {
    padding: 10px;

    .logomarca {
        display: flex;
        align-items: baseline;

        h1 {
            margin: 0 10px;
        }
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 25px;
        }
    }

    .conteudo_centro {
        margin: auto;
        display: flex;
        max-width: 900px;
        justify-content: space-between;
        align-items: center;

        .login {
            display: flex;
            font-size: 19px;

            a {
                text-decoration: none;
                color: black;
                padding: 3px 0;
            }

            .logar {
                margin: 0 30px;
            }

            @media screen and (max-width: 1000px) {
                a {
                    font-size: 17px;
                }
            }

            @media screen and (max-width: 400px) {
                a {
                    font-size: 14px;
                }

                .logar {
                    margin-right: 10px;
                }
            }

        }
    }
}

.logar :hover {
    border-bottom: 1px solid black;
    transition: ease 0.5s;
}

.cadastro :hover {
    border-bottom: 1px solid black;
    transition: ease 0.5s;
}


.cafeteria {
    position: absolute;
    top: 57%;
    left: 19%;
    color: white;
    font-size: 50px;
    transition: ease 0.8s;
}

@media screen and (max-width: 1000px) {
    .cafeteria {
        font-size: 40px;
        top: 59%;
        left: 10%;
        transition: ease 0.8s;
    }
}




.main_cima {
    margin: 100px auto;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap-reverse;
    transition: ease 0.8s;


    .imagem {
        background: url('../img/coffee-64.gif');
        height: 400px;
        width: 400px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        transition: ease 0.8s;

        img {
            margin-left: -140px;
            margin-top: 100px;
            border-radius: 10px;
            transition: ease 0.3s;
            box-shadow: 0px 0px 10px black;
            transition: ease 0.8s;
        }

        img:hover {
            transform: scale(1.2);
        }
    }

    @media screen and (max-width: 1000px) {
        .imagem {
            width: 300px;
            height: 300px;
            margin: auto;

            img {
                width: 100px;
                margin-left: -50px;
            }
        }

        .texto {
            margin: 50px auto 0;
        }

        .imagem2 {
            width: 300px;
            height: 500px;
            margin: auto;
        }
    }

    @media screen and (max-width: 500px) {
        .imagem img {
            margin-left: -20px;
        }
    }

    .texto {
        width: 300px;
        font-size: 30px;
        padding: 20px;

        p {
            font-size: 20px;
            margin-top: 30px;
        }
    }
}

.main_meio {
    flex-wrap: wrap;
    margin: 100px auto;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    padding: 10px;

    .imagem2 {
        background: url('img/baixados\ \(1\).jpg');
        height: 600px;
        width: 400px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    @media screen and (max-width: 1000px) {
        .imagem2 {
            width: 300px;
            height: 500px;
            margin: auto;
        }

        .texto {
            margin: 50px auto;
        }
    }

    .texto {
        width: 400px;
        font-size: 30px;
        padding: 20px;

        p {
            font-size: 20px;
            margin-top: 30px;
        }
    }
}

.main_baixo {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    padding: 0 20px;

    p {
        font-size: 20px;
        margin-top: 30px;
    }

    .imagem_cafe {
        background: url('img/photo-1630861413071-a424a4d6d155.avif');
        background-size: cover;
        background-position: center;
        width: 1000px;
        height: 300px;
        border-radius: 15px;
        margin: 100px auto;
    }

    @media screen and (max-width: 1100px) {
        .imagem_cafe {
            display: none;
        }

        p {
            margin-bottom: 100px;
        }
    }
}

footer {
    background-color: rgb(59, 46, 42);
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    flex-wrap: wrap;

    div {
        width: 500px;
        color: white;

        p {
            margin-top: 10px;
        }
    }

    .inspiracao {
        text-decoration: none;
        color: white;
        font-size: 18px;

    }

    .inspiracao:hover {
        border-bottom: 1px solid;
        padding-bottom: 3px;
    }
}

.redes {
    display: flex;
    width: 140px;
    margin-top: 100px;
    margin-bottom: 50px;

    div {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-items: center;
        transition: ease 0.3s;
    }
}

.redes div:hover {
    transform: scale(1.2);
}