* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.conteudo {
    margin: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;

    .imagem {
        width: 600px;
        /* background: url('../img/gifcafe.gif'); */
        background-position: calc(-50px);
        background-size: cover;
        border-radius: 10px;
        
        h1{
            font-size: 50px;
            color: white;
            margin: 340px 10px 0;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
        }
    }

    @media screen and (max-width: 1000px) {
        .imagem {
            display: none;
        }
    }

    form {
        padding: 10px 40px;
        border-radius: 10px;
        margin-top: 100px;

        input {
            padding: 8px 0 5px 8px;
            
            border: none;
            outline: none;
            display: block;
            margin: 15px 0;
            border-bottom: 1px solid black;

        }

        .btn {
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            margin: auto;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.692);
            border: none;
        }
    }
}

.erro {
    color: red;
    text-align: center;
    margin: -16px;
    display: none;
}

#erroNome,
#campos {
    margin-top: 0.1px;
}

#erroSenha {
    margin-right: -100px;
    margin-left: -100px;
}